{# empty Twig template #}
{% extends "base.html.twig" %}

{% block body %}
    {{ form_start(form) }}
    
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.category) }}
        {{ form_errors(form.category) }}
        {{ form_widget(form.category) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.price) }}
        {{ form_errors(form.price) }}
        {{ form_widget(form.price) }}
    </div>
    
    <input type="submit" name="article[Submit]" value="Unesi">
    
    {{ form_end(form) }}
{% endblock %}