{# empty Twig template #}
{% extends "base.html.twig" %}

{% block body %}
    
    <p>{{ text|upper }}</p>
    <br>
    
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Naziv</th>
                <th>Kategorija</th>
                <th>Cena</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for artikal in artikli %}
                <tr>
                    <td>{{ artikal.id }}</td>
                    <td>{{ artikal.name }}</td>
                    <td>{{ artikal.category }}</td>
                    <td>{{ artikal.price }}</td>
                    <td><a href="{{ path('article_show', { 'id' : artikal.id, 'name' : artikal.name }) }}">Show</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    

{% endblock %}